/* CSS reset */
*.vdom {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--vdomcontent);
    font-family:Arial, Helvetica, sans-serif
}

/* Variables */
:root {
    --vdomcontent: white;
    --vdom-header-bg: #223;
    --vdombg: #222;
    --vdombg2: #444;
    --vdomaccent: #800020;
    --vdom-tag-name: dodgerblue;
    --vdom-classes: #D64A53;
    --vdom-id: greenyellow;
}

/* Flex classes */
.vdomrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.vdomcol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}

/* vDOM base styles */
#vdomheader {
    background-color: var(--vdom-header-bg);
    border-radius: 12px 12px 0 0;
    border-bottom: 4px double var(--vdomcontent);
    padding: 1rem;
}

.vdomLogoBox {
    display: flex;
    align-items: center;
}

h1 span.vdom {
    color: dodgerblue;
}

#vdomLogo {
    height: 4rem;
}

.vdombody {
    background-color: var(--vdombg);
    border-radius: 0 0 12px 12px;
    padding: 1rem;
}

.vdomchild {
    color: var(--vdomcontent);
    background-color: var(--vdombg);
    border: 2px solid var(--vdomcontent);
    border-radius: 12px;
    width: fit-content;
    padding: 0.1rem 0.25rem;
}

.vdomparent {
    color: var(--vdomcontent);
    background-color: var(--vdombg);
    border: 2px solid var(--vdomcontent);
    border-radius: 12px;
    font-weight: bold;
    padding: 0rem 1rem 1rem 1rem;
}

.vdombody div.vdom:not(.vdomrow) {
    margin-top: 1rem;
}

span.vdomTagName {
    color: var(--vdom-tag-name);
    white-space: nowrap;
}

span.vdomClasses {
    color: var(--vdom-classes);
    white-space: nowrap;
}

span.vdomID {
    color: var(--vdom-id);
    white-space: nowrap;
}

a.vdom {
    text-decoration: none;
}

#vdomRepoLink:hover {
    text-decoration: underline;
}